
body {
  background: #bee6cd;
}

p, h1, li, th, td, a {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.topnav {
  background-color:#d5bdaf;
  overflow:hidden;
}

.topnav a {
  float:left;
  color#e3d5ca;
  text-align:center; 
  padding:12px 14px;
  text-decoration:none;
  font-size:16px;
}
.topnav a:hover {
  background-color:#edede9;
  color:;
}
.topnav a.active { 
  background-color:edede9;
  color: ;
}
ol {
  list-style-type: none;
}

